<head>
    <link rel="stylesheet" href="../../css/footer.css">
</head>

<div class="env-footer">
    <footer>
        <div>
            <h3 class="destacado">Showroom y Taller</h3>
            <p class="sub">Hermanos Jota — Casa Taller</p>
            <p class="datos">Av. San Juan 2847 <br> C1232AAB — Barrio de San Cristóbal <br> Ciudad Autónoma de Buenos Aires Argentina</p>
            <br>
            <p class="sub">Horarios:</p>
            <p class="datos">Lunes a Viernes: 10:00 - 19:00 <br> Sábados: 10:00 - 14:00</p>
        </div>
        <div>
            <h3 class="destacado">Contacto Digital</h3>
            <p class="datos">Sitio web www.hermanosjota.com.ar <br>Email general info@hermanosjota.com.ar <br> Ventas ventas@hermanosjota.com.ar <br> Instagram @hermanosjota_ba <br>WhatsApp +54 11 4567-8900</p>
        </div>
    </footer>
</div>