<a href="index.html" class="recuadro-logo">
    <img class="logo" src="../assets/img/logo/logo.svg" alt="logo Hnos Jota">
</a>
<nav class="menu-navegacion">
    <a href="index.html">INICIO</a>
    <a href="productos.html">PRODUCTOS</a>
    <a href="contacto.html">CONTACTO</a>
    <div class="cart">
        <img class="icono-carro" src="../assets/img/icons/carrito.svg" alt="Carrito">
                <span id="cart-count">0</span>
                <!-- Popup al pasar el mouse sobre el carrito -->
                <div class="cart-popup">
                    <button id="clear-cart" type="button" class="popup-btn">Vaciar carrito</button>
                    <button id="checkout" type="button" class="popup-btn">Finalizar compra</button>
                </div>
    </div>
</nav>