<head>
    <link rel="stylesheet" href="../../css/header.css">
</head>
<header>
    <span class="recuadro-logo">
            <img class="logo" src="../../assets/img/logo/logo.svg" alt="logo Hnos Jota">
        </span>
    <nav class="menu-navegacion">
        <a href="index.html">INICIO</a>
        <a href="producto.html">PRODUCTOS</a>
        <a href="contacto.html">CONTACTOS</a>
    </nav>
</header>




















<!-- 
<nav>
  <a id = "logo" href="index.html"><img src="../assets/img/logo/logo.svg" alt="Logo Mueblería Jota"></a>
  <ul>
    <li><a href="index.html">Inicio</a></li>
    <li><a href="productos.html">Productos</a></li>
    <li><a href="contacto.html">Contacto</a></li>
  </ul>
  <div class="cart">
    <img src="../assets/img/icons/carrito.svg" alt="Carrito">
    <span id="cart-count">0</span>
  </div>
</nav> -->