    body {
        background-color: #F5E6D3;
    }
    
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 11vh;
        border-bottom: 1px solid #A0522D;
        /* border-left: 1px solid #A0522D;
            border-right: 1px solid #A0522D; */
        border-radius: 22px;
        margin: 0vh 0vh 1vh 0vh;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .recuadro-logo {
        border-radius: 10%;
        background-color: #F5E6D3;
        justify-content: center;
        align-items: center;
    }
    
    .logo {
        margin: 0vh 2vh;
        width: 80px;
    }
    
    .menu-navegacion {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        gap: 2vh;
        padding-right: 10vw;
    }
    
    .menu-navegacion>a {
        display: flex;
        text-decoration: none;
        font-family: sans-serif;
        font-size: medium;
        color: #A0522D;
    }
    
    .menu-navegacion>a:hover {
        color: #F5E6D3;
        background-color: #A0522D;
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    .hero-banner {
        position: relative;
        height: 80vh;
        justify-content: center;
        align-items: center;
        background-image: url("Kit de imágenes/Fábrica-muebles.jpg");
        background-size: cover;
        background-position: center;
        display: flex;
        overflow: hidden;
        margin: 0px 0px 5vh 0;
    }
    
    .playfair-display-fuente {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 55px;
        font-style: normal;
    }
    
    .texto-banner {
        position: absolute;
        color: #C47A6D;
        text-align: center;
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.5s ease;
        background-color: #d4a537c2;
        border-radius: 10px;
    }
    
    .texto-banner>h1 {
        font-family: Georgia;
    }
    
    .prueba1 {
        color: #A0522D;
        font-family: fuente;
    }
    
    .prueba2 {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .hero-banner:hover .texto-banner {
        opacity: 1;
        transform: translateY(0);
    }
    
    .subtitulo {
        text-align: center;
        color: #C47A6D;
        grid-column: 1 / -1;
    }
    
    .productos-destacados {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
        padding: 1vw 4vw;
        justify-content: center;
    }
    
    .producto img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .producto {
        text-align: center;
        padding: 1rem;
        border-right: 1px solid #D4A437;
    }
    
    .producto:last-child {
        border-right: none;
    }
    
    .producto h3 {
        margin: 1rem 0 0.5rem;
        font-size: 1.5rem;
        font-family: sans-serif;
    }
    
    .producto p {
        font-size: 0.9rem;
        color: #555;
    }
    
    .producto:hover {
        background-color: #D4A437;
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }
    
    hr {
        margin: 5vh 0vh 3vh 0vh;
        border: 1px solid #A0522D;
    }
    
    .env-footer {
        display: flex;
        justify-content: center;
        margin: 0 0 4vh 0;
        border: #C47A6D;
        border-radius: 50px;
    }
    
    footer {
        width: 90%;
        margin: 5vh 5vh 0vh 5vh;
        padding: 2vh 5vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: #A0522D solid 1px;
        border-radius: 20px;
    }
    
    footer:hover {
        background-color: #d4a53788;
        background: linear-gradient(0deg, rgba(212, 165, 55, 0.43) 0%, rgba(245, 230, 211, 1) 100%);
    }
    
    .destacado {
        font-size: 150%;
        font-family: sans-serif;
        color: #A0522D;
        text-align: start;
    }
    
    .sub {
        font-family: sans-serif;
        font-size: 110%;
        color: #A0522D;
        text-align: start;
    }
    
    .datos {
        font-family: sans-serif;
        font-size: 100%;
        color: #000000;
        text-align: start;
    }
    
    @media (max-width: 768px) {
        .productos-destacados {
            display: flex;
            flex-direction: column;
            background-color: #f39c2a49;
            gap: 2vw;
            padding: 1vw 4vw;
            justify-content: center;
        }
    }