/* Google Fonts */

/* Inter */

@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
  background-color: #f5e6d3;
}

.img-logo {
  width: 80px;
  height: 80px;
}

/* .link-producto {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
} */

.link-producto {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  position: relative; /* para posicionar el botón */
  overflow: hidden;
}

.link-producto .btn-detalles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centra horizontal y vertical */
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0; /* inicialmente invisible */
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
}

.link-producto:hover .btn-detalles {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.05); /* efecto de aumento */
}

.img-producto {
  width: 250px;
  height: 250px;
  align-self: center;
  transition: transform 0.4s ease;
}

.card-producto:hover .img-producto {
  transform: scale(1.1);
}

h2.nombre-producto,
h3.precio-producto {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12pt;
  line-height: 1.6;
}

h3.precio-producto {
  font-size: 11pt;
}

form.buscar {
  padding-left: 35px;
  margin-bottom: 20px;
  grid-column: 1 / -1;
  justify-self: start;
}

input[type="search"] {
  width: 400px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px;
  justify-items: center;
}

.card-producto {
  background-color: white;
  width: 360px;
  height: 345px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 30px;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
}

.card-producto:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-producto {
    width: 300px;
    height: 300px;
    padding: 15px;
  }
  .img-producto {
    width: 200px;
    height: 200px;
  }
  input[type="search"] {
    width: 250px;
    height: 28px;
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .card-producto {
    width: 50%;
    height: auto;
    padding: 15px;
  }
  .img-producto {
    width: 180px;
    height: 180px;
  }
  input[type="search"] {
    width: 200px;
    height: 26px;
  }
}

/* .catalogo {
  padding: var(--spacing-lg) var(--spacing-md);
}

.catalogo h1 {
  margin-bottom: var(--spacing-sm);
  text-align: center;
}

#search {
  display: block;
  margin: 0 auto var(--spacing-md);
  padding: var(--spacing-xs);
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: var(--radius);
}

#catalogo-container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
 */
