<div class="env-footer">
    <div>
        <h3 class="destacado">Showroom y Taller</h3>
        <p class="sub">Hermanos Jota — Casa Taller</p>
        <p class="datos">Av. San Juan 2847 <br> C1232AAB — Barrio de San Cristóbal <br> Ciudad Autónoma de Buenos Aires Argentina</p>
        <br>
        <p class="sub">Horarios:</p>
        <p class="datos">Lunes a Viernes: 10:00 - 19:00 <br> Sábados: 10:00 - 14:00</p>
    </div>
    <div>
        <h3 class="destacado">Contacto Digital</h3>
        <ul>
            <a class="link-web" href="index.html">Sitio Web: www.hermanosjota.com.ar </a>
            <p class="datos">Email General: info@hermanosjota.com.ar</p>
            <p class="datos">Ventas:ventas@hermanosjota.com.ar </p>
            <p class="datos">Instagram:@hermanosjota_ba</p>
            <p class="datos">WhatsApp: +54 11 4567-8900</p>
    </div>
</div>